body {
  font-family: "Segoe UI";
  background-color: #f2f2f2;
}

#container {
  padding: 20px;
}

a {
  text-decoration: none;
  color: #4c74af;
  font-weight: 500;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid #4c74af;
  box-shadow: 0 0 5px #4c74af;
}

button[type="submit"] {
  background-color: #4c74af;
  color: white;
  padding: 10px 20px;
  border: none;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e528e;
}
